*.iml
*/venv
*/dist
*/*.egg-info
/monitoring/vendor/
*.lock.hcl
*/.terraform
**/.terraform
/monitoring/tf_backend.env
/monitoring/grafana/.env
/monitoring/grafana/.terraform/
/monitoring/tf_configs.env
/monitoring/namespace/.terraform/
/monitoring/prometheus-operator/.terraform/
/monitoring/pushgateway/.terraform/
/monitoring/state-metrics/.terraform/
/monitoring/node-exporter/.terraform/
/.idea/
/.kube/cache/
./ansible/hosts
/monitoring/prometheus-home-automation/.terraform/
/monitoring/prometheus-cluster-monitoring/.terraform/
/monitoring/persistence/.terraform/
/monitoring/fritz-exporter/.terraform/
*/.dockerconfigjson
