# nfs
TF_VAR_nfs_server=192.168.178.75
TF_VAR_nfs_path=/opt/nfs/share

# grafana persistent volume
TF_VAR_grafana_name=grafana
TF_VAR_grafana_location=grafana
TF_VAR_grafana_storage=10Gi

# prometheus
TF_VAR_prometheus_cluster_monitoring_name=prometheus-cluster-monitoring
TF_VAR_prometheus_cluster_monitoring_location=prometheus_cluster_monitoring
TF_VAR_prometheus_cluster_monitoring_storage=50Gi

TF_VAR_prometheus_home_automation_name=prometheus-home-automation
TF_VAR_prometheus_home_automation_location=prometheus_home_automation
TF_VAR_prometheus_home_automation_storage=30Gi

# grafana deployment
TF_VAR_grafana_image=anydef/grafana:latest


#Fritz exporter
TF_VAR_fritz_username=
TF_VAR_fritz_password=

TF_VAR_viessmann_api_key=
TF_VAR_viessmann_email=
TF_VAR_viessmann_password=


TF_VAR_github_container_registry_secret_value={"auths":{"ghcr.io":{"auth":"<base64 token>"}}}
TF_VAR_github_container_registry_secret_name=